*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: aliceblue;
}
.header {
  width: 100vw;
  height: 20vh;
  background-color: rgb(247, 86, 86);
  border-bottom: 5px solid;
  border-color: darkred;
}

.h2-header {
  display: inline-block;
  font-size: 100px;
  color: rgb(250, 252, 251);
  text-shadow: -2px 0 darkred, 0 2px darkred, 2px 0 darkred, 0 -2px darkred;
  margin-left: 40px;
  margin-top: 20px;
}

.image-logo {
  float: right;
  width: 15vw;
  height: 15vh;
  margin-right: 20px;
  margin-top: 10px;
}

.image-logo:hover {
  color: darkred;
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.div-box {
  background-color: azure;
}

.div-box:hover {
  background-color: cornflowerblue;
}

.active {
  background-color: cornflowerblue;
}