*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: aliceblue;
}
.header {
  width: 100vw;
  height: 20vh;
  background-color: rgb(247, 86, 86);
  border-bottom: 5px solid;
  border-color: darkred;
}

.h2-header {
  display: inline;
  font-size: 100px;
  color: rgb(250, 252, 251);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 40px;
}

.image-logo {
  float: right;
  display: inline;
  width: 15vw;
  height: 15vh;
  margin-right: 20px;
  margin-top: 10px;
}

.container {
  width: 100%;
  height:
  display: grid;
  grid-template-columns: repeat(16, auto)
  grid-template-rows: repeat(16, auto)
}

.div-box {
  width: 100%;
  height: 100%;
  background-color: azure;
}